/* HOME PAGE: MAP & EVENT LIST VIEW */

.map_canvas {
  position: absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
}

body {
  padding-top: 70px;
}

.svIcon {
  float: right;
  z-index: 1000;
}

#map {
  height: 100%;
  position: fixed;
}

#events {
  height: 100%;
  float: right;
}

.event-cards {
  width: 48%;
  height: 100px;
  border: 1px black solid;
  margin: 0px 5px 10px;
  padding: 3px;
  float: left;
}

/* SEARCH BAR */

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}


input[type=search] {
  margin-top: 5px;
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

#searchbar input[type=search] {
  width: 15px;
  padding-left: 30px;
  color: transparent;
  cursor: pointer;
}
#searchbar input[type=search]:hover {
  background-color: #fff;
}
#searchbar input[type=search]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#searchbar input:-moz-placeholder {
  color: transparent;
}
#searchbar input::-webkit-input-placeholder {
  color: transparent;
}

/* DROPDOWN */

#dropdown > .btn-group > .btn:first-child {
  margin-left: 10px;
  margin-top: 7px;
  border: none;
  background: #f8f8f8;
}

.open > .dropdown-menu {
  margin-left: 10px;
}

#dropdown > .btn-group > .btn:first-child:hover {
  border: none;
}

/* LOGO */

.navbar-default .navbar-brand {
  padding-top: 17px;
}

/* Parallax */
.parallax {
  height: 600px;
}
.title{
  position: absolute;
  top: 1000%;
  left: 50%;
  color: white;
  padding: 1em;
  margin: 0 -1em;
  border: solid;
  border-width: 10px;

}
