.map_canvas {
  position: absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
}



body {
  padding-top: 70px;
}

.svIcon {
  float: right;
  z-index: 1000;
}


.map {
  width: 60%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.events {
  width: 40%;
  height: 100%;
  float: right;
  top: 0;
  right: 0;
}


input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}


input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

#searchbar input[type=search] {
  width: 15px;
  padding-left: 30px;
  color: transparent;
  cursor: pointer;
}
#searchbar input[type=search]:hover {
  background-color: #fff;
}
#searchbar input[type=search]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#searchbar input:-moz-placeholder {
  color: transparent;
}
#searchbar input::-webkit-input-placeholder {
  color: transparent;
}