.map_canvas {
  position: absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
}



.svIcon {
  float: right;
  z-index: 1000;
}


.map {
  width: 60%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.events {
  width: 40%;
  height: 100%;
  float: right;
  top: 0;
  right: 0;
}